PORT=3000
NODE_ENV=development
STORAGE_DIR=./src/storage

# PostgreSQL Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/stream_engine
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=stream_engine
